.main-background {
    background-color: #d8c16d;
}

.main-background h1 {
    color: rgb(201, 105, 105);
    text-align: center;
}

h1 {
    text-transform: uppercase;
    color: #ffffff;


}

.main-content {

    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 2%;
    margin: 20px;
    text-align: center;


}

.description {
    width: 50%;
    float: right;
    padding: 20px;
    margin: 3%;
    border: 2px solid black;
    border-radius: 2%;
    font-size: 150%;

}


.index-pictures {

    width: auto;
    float: left;
    padding: 20px;
    margin: 3%;
    border: 2px solid black;
    border-radius: 2%;
    font-size: 150%;
    overflow-y: scroll;
    height: 400px;


}


ul {
    text-align: left;
    list-style-type: none;
    font-size: larger;

}

.details-card {
    width: 50%;
    float: left;
    padding: 20px;
    margin: 3%;
    border: 2px solid black;
    border-radius: 2%;
    font-size: 150%;
}

.grass {
    background-color: #5eaf5e;

}

.fire {
    background-color: #e86a6a;

}

.fire h1 {
    color: #ffffff;
}

.water {
    background-color: #5f5fc6;

}

.electric {
    background-color: #e3e39a;


}

.rock {
    background-color: #C0C0C0;
}

.pokemon_picture {
    overflow-y: auto;
    height: 400px;
}

.bug {
    background-color: darkolivegreen;

}

.fighting {
    background-color: #264b5d;

}

.normal {
    background-color: #615757;

}

.poison {
    background-color: #cf769e;

}

.ground {
    background-color: #676161;

}

.fairy {
    background-color: lightpink;

}

.psychic {
    background-color: #8045ac;

}

.ghost {
    background-color: #3a3333;

}

.favorites-main-background {
    background-color: #5996b6;
    font-size: 100%;
}

.favorites_name {
    font-size: 100%
}


#pokemon_title {

}

.pokemon_main_content {


}

.pokemon_main_pictures {


}

.pokemon_description {


}

