.main-background {
    background-color: #d8c16d;
}

.main-background h1 {
    color: rgb(201, 105, 105);
    text-align: center;
}

h1 {
    text-transform: uppercase;
    color: #ffffff;


}

.main-content {

    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 2%;
    margin: 20px;
    text-align: center;


}

.description {
    width: 50%;
    float: right;
    padding: 20px;
    margin: 3%;
    border: 2px solid black;
    border-radius: 2%;
    font-size: 150%;

}


.index-pictures {

    width: auto;
    float: left;
    padding: 20px;
    margin: 3%;
    border: 2px solid black;
    border-radius: 2%;
    font-size: 150%;


}


ul {
    text-align: left;
    list-style-type: none;
    font-size: larger;

}


.grass {
    background-color: #5eaf5e;
    width: 50%;
    float: left;
    padding: 20px;
    margin: 3%;
    font-size: 150%;

}

.fire {
    background-color: #e86a6a;
    width: 50%;
    float: left;
    padding: 20px;
    margin: 3%;


    font-size: 150%;

}

.fire h1 {
    color: #ffffff;
}

.water {
    background-color: #5f5fc6;
    width: 50%;
    float: left;
    padding: 20px;
    margin: 3%;


    font-size: 150%;
    text-align: center;
}

.electric {
    background-color: #e3e39a;
    width: 50%;
    float: left;
    padding: 20px;
    margin: 3%;


    font-size: 150%;

}

.rock {
    background-color: #C0C0C0;
    width: 50%;
    float: left;
    padding: 20px;
    margin: 3%;


    font-size: 150%;
}

.pokemon_picture {
    overflow-y: auto;
    height: 400px;
}

.bug {
    background-color: darkolivegreen;
    width: 50%;
    float: left;
    padding: 20px;
    margin: 3%;


    font-size: 150%;
}

.fighting {
    background-color: #264b5d;
    width: 50%;
    float: left;
    padding: 20px;
    margin: 3%;


    font-size: 150%;
}

.normal {
    background-color: #615757;
    width: 50%;
    float: left;
    padding: 20px;
    margin: 3%;


    font-size: 150%;
}

.poison {
    background-color: #cf769e;
    width: 50%;
    float: left;
    padding: 20px;
    margin: 3%;


    font-size: 150%;
}

.ground {
    background-color: #676161;
    width: 50%;
    float: left;
    padding: 20px;
    margin: 3%;


    font-size: 150%;
}

.fairy {
    background-color: lightpink;
    width: 50%;
    float: left;
    padding: 20px;
    margin: 3%;


    font-size: 150%;
}

.psychic {
    background-color: #8045ac;
    width: 50%;
    float: left;
    padding: 20px;
    margin: 3%;


    font-size: 150%;
}

.ghost {
    background-color: #3a3333;
    width: 50%;
    float: left;
    padding: 20px;
    margin: 3%;


    font-size: 150%;
}

#pokemon_title {

}

.pokemon_main_content {


}

.pokemon_main_pictures {


}

.pokemon_description {


}

