<!DOCTYPE html>
<html lang="en">


<head>
    {% load static %}

    <meta charset="UTF-8">
    <title>{{ pokemon.name }}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body class="{{ type }}">
<div>
    <h1>{{ pokemon.name }}</h1>
    <h2>{{ type }} </h2>
    {% if  pokemon.description %}
        <p>{{ pokemon.description }}</p>
    {% else %}
        <p></p>
    {% endif %}


    <img src="{{ pokemon.picture }}">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ pokemon.video }}"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

</body>
</html>